@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #000;
  color: #fff;
  line-height: 1.7;
  overflow-x: hidden;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #ccc;
}

ul {
  list-style: none;
}
/* Utilities */
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem 1.5rem;
}
.text-center {
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  background: #fff;
  border-radius: 5px;
  border: none;
  color: #333;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 1.1rem 2rem;
  text-transform: uppercase;
  min-width: 135px;
  cursor: pointer;
}

.btn-cta:hover {
  opacity: 0.8;
}

.btn-outline {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  transition: 0.2s ease;
}

.btn-outline:hover {
  color: #fff;
  border-color: #333;
}
.legal-text {
  font-size: 0.6rem;
  margin-top: 1rem;
  color: #ccc;
  display: block;
}

.sub-link {
  text-transform: capitalize;
  color: #fff;
  display: block;
  font-size: 0.8rem;
  text-decoration: underline;
}
h4 {
  color: #00ed82;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.section-title {
  font-weight: 800;
  font-size: 2rem;
}

.section-sub {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.divider {
  border: 1px solid rgb(153, 153, 153);
  margin: 2rem 0;
}

/* Margin and Padding */
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.m-4 {
  margin: 4rem;
}
.m-5 {
  margin: 5rem;
}

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-4 {
  margin: 4rem 0;
}
.my-5 {
  margin: 5rem 0;
}

.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.p-4 {
  padding: 4rem;
}
.p-5 {
  padding: 5rem;
}

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-4 {
  padding: 4rem 0;
}
.py-5 {
  padding: 5rem 0;
}

/* Header */
.main-header {
  background: url(../img/header.jpg) no-repeat center center/cover;
  min-height: 100vh;
  position: relative;
}
.main-header .logo {
  width: 200px;
  min-height: auto;
  flex-shrink: 0;
  margin: 20px 0;
}

.main-header nav {
  display: flex;
  justify-content: flex-end;
  z-index: 2;
  position: relative;
}

.main-header nav .login-btn {
  background: none;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.main-header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.76) 15.54%,
    rgba(0, 0, 0, 0.192) 60.23%,
    rgba(0, 0, 0, 8e-5) 100%
  );
}
.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.header-content .header-text-1 {
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.header-content .header-text-2 {
  display: none;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.sub-header {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}
.sub-header .logos {
  width: 180px;
  margin: 1rem auto;
}

.sub-header-text-1 p {
  font-size: 0.9rem;
}

.sub-header .btn-outline {
  padding: 0.8rem 2rem;
}

/* Library */
.library .grid {
  grid-template-columns: 1fr;
  gap: 2rem;
}

.library .covers > div {
  height: 500px;
  width: 300px;
  margin: 0 auto;
  object-fit: cover;
  position: relative;
  background-color: rgb(141, 141, 141);
  background-blend-mode: multiply;
  position: relative;
}

.library .cover-1 {
  background: url(../img/cover-1.jpg) no-repeat center center/cover;
}
.library .cover-2 {
  background: url(../img/cover-2.jpg) no-repeat center center/cover;
}
.library .cover-3 {
  background: url(../img/cover-3.jpg) no-repeat center center/cover;
}
.library .cover-4 {
  background: url(../img/cover-4.jpg) no-repeat center center/cover;
}

.covers .cover-text {
  position: absolute;
  top: 5%;
  left: 5%;
  text-align: left;
}

.covers .cover-text .subtitle {
  font-size: 0.8rem;
}

.covers .cover-text h3 {
  font-size: 0.9rem;
}
.covers .cover-text h3 {
  font-weight: bold;
}

/* Live Tv */
.live-tv {
  background: #151516;
  padding: 3rem 2rem;
}
.live-tv .container {
  padding: 7rem 1rem;
  border: 4px solid #1ce783;
  border-radius: 1rem;
}

.live-tv a {
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-top: 1.2rem;
}

/* LIVE SPORTS */

.live-sports {
  background: url("../img/live-sports-small.jpg") no-repeat center center/cover;
  height: 100vh;
  position: relative;
}
.live-sports-logos {
  flex-direction: row;
  justify-content: flex-start;
}

.live-sports-logos img {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  margin: 2rem 0 1rem;
  margin-right: 1rem;
  background: #fff;
  border-radius: 50%;
  padding: 0.5rem;
}

.live-sports-content {
  position: absolute;
  top: 15%;
  left: 10%;
  max-width: 300px;
}

/* Footer */
.main-footer {
  background: #ebedf2;
  color: #333;
}

.main-footer li {
  font-size: 0.9rem;
}
.main-footer .grid {
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
}
.main-footer a {
  color: #333;
}

.main-footer .social-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main-footer .social-links img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1.5rem;
}

.main-footer .class-head {
  text-transform: uppercase;
  font-weight: bold;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
  .main-header .logo {
    width: 270px;
  }
  .header-content .header-text-2 {
    display: initial;
  }

  .sub-header .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .sub-header .grid div:last-child {
    justify-self: flex-end;
  }
  .sub-header-text-1 {
    text-align: left;
  }

  .sub-header-text-1 a {
    display: block;
  }
  .sub-header .logos {
    order: -1;
  }

  .sub-header-text-1 p {
    display: initial;
  }

  .section-title {
    font-size: 4rem;
  }

  .library .grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  .covers .cover-text .subtitle {
    font-size: 1rem;
  }
  .covers .cover-text h3 {
    font-size: 1.3rem;
  }

  .live-sports {
    background: url("../img/live-sports.jpg") no-repeat center center/cover;
  }

  .live-sports-content {
    max-width: 550px;
  }

  .main-footer .grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .main-footer ul:nth-child(2),
  .main-footer ul:nth-child(3),
  .main-footer ul:nth-child(4) {
    margin-top: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .sub-header .logos {
    width: 80%;
  }

  .sub-header-text-1 p {
    font-size: 1.4rem;
  }
  .section-sub {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 16px;
    font-size: 1.4rem;
  }
}
